body {
    line-height: 1;
    font-size: 14px;
  }
  
  .container {
    padding: 40px;
  }
  
  .title-box {
    padding: 20px 20px 0 20px;
    background-color: #66ccff;
    color: #fff;
  }
  
  .title-box h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .q-box {
    margin-top: 70px;
    border: 1px solid #66ccff;
    padding: 50px 20px;
    border-radius: 10px;
  }
  
  .q-box h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .description {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 27px;
  }
  
  .btn {
    background-color: #ddd;
    margin: 2px;
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .opacity {
    opacity: 0.5;
  }
  
  .box-wrapper {
    height: 100px;
    width: 200px;
    text-align: center;
    margin: 20px auto;
  }
  
  .box {
    width: 200px;
    background-color: #66ccff;
    color: #fff;
    line-height: 100px;
    font-size: 20px;
  }
  
  .d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  



  /* 宿題タブメニュー */

  .menu-tab {
    display: flex;
  }

  .menu-tab li {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background-color: #eee;
  }

  .menu-tab li:first-child {
    border-left: 1px slid #ddd;
  }
  
  .menu-tab li a {
    display: block;
    padding: 5px 10px;
    color: #777;
    text-decoration: none;
  }
    
  .menu-tab li a.active {
    border-bottom: 1px solid #fff;
    background-color:aqua;
    margin-bottom: -1px;
  }
    
  .menu-content {
    width: 500px;
    border: 1px solid #ddd;
    z-index: -1;
    display: flex;
    justify-content: center;
  }
    
  .menu-content > .active {
    display: block;
  }
    
  .menu-content > div {
    display: none;
    padding: 15px;
    height: 300px;
    line-height: 24px;
  } 

  .image {
    height: 200px;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }
    